@charset "UTF-8";

/* #00479F, #025C90, #046787, #047680, #078675, #069867 */
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, main {
    width: 100vw;
    height: 100vh;
    background-color: #069867;
}
main {
    position: absolute;
}
section#quad {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
div#login {
    display: block;
    background-color: white;
    height: 60%;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}
div#login h1 {
    padding-top: 15px;
}
div#login p {
    padding: 15px;
    font-size: 0.8em;
}
div#back {
    display: block;
    background-color: #069867;
    background-image: url(../imagens/pokefundo.jpg);
    background-position: center center;
    background-size: cover;
    height: 40%;
    border-radius: 20px 20px 0px 0px;
}
.campo {
    display: block;
    position: relative; 
    background-color: #00479F;
    padding: 3px 3px 6px 3px;
    width: 250px;
    border-radius: 30px;
    margin: 10px auto;
}
#imail:focus-within, #isenha:focus-within {
    background-color: white; 
}
#imail::placeholder, #isenha::placeholder {
    color: rgba(255, 255, 255, 0.473);
}
#imail {
    background-color: #047680;
    width: 65%;
    padding: 4px;
    border-radius: 30px;
    margin: 5px;
}
#isenha {
    background-color: #078675;
    width: 65%;
    padding: 4px;
    border-radius: 30px;
    margin: 5px;
}
input[type=submit] {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 7px;
    border-radius: 12px;
    background-color: #00479F;
    color: #09c989;
    font-size: 1em;
}
input[type=submit]:hover {
    background-color: #0062da;
}
button{
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 7px;
    border-radius: 12px;
    background-color: #047c54;
    color: #09c989;
    font-size: 1em;
}
button:hover {
    background-color: #07a06d;
}
body > main > section#quad > div#login > form > div.campo > label > span {
    font-size: 1.7em;
    padding: 2px;
    vertical-align: middle;
}
